{% extends	'base.html' %}
{% load	static %}
{% block title %}登录页{% endblock%}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4	col-md-offset-4">
                <form action="" method="POST"><!--这里的 action 的内容可以不写，因为是提交给本网页执行的-->
                    <center>
                        <img class="mb-4" src="{% static 'img/logo.jpg' %}" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    </center>
                    <div class="form-group">
                        <label for="username"></label>
                        <input class="form-control" type="text"
                               name='username' placeholder="Name"/>
                    </div>
                    <div>
                        <label for="username"></label>
                        <input class="form-control" type="password"
                               name='password' placeholder="password"/>
                    </div>
                    <center>
                        <div class="form-inline">
                        <input class="form-control" type="checkbox"
                               name='keep_signed_in' value="0"/>
                        <span>记住我</span>
                    </div>
                    </center>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                    <span class="error">{{msg}}</span>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}